<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pickerview1752052015.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A56E2328244BD230002923D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A56E233C244BD231002923D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A56E2347244BD231002923D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
